body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    font-family: monospace;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 0.2em;
    font-size: 1.2em;
  }

#input{
    height: 50px;
    width: 200px;
}
#output{
    height: 50px;
    width: 200px;
}

#rotNumberSlider{
    margin-top: 1rem;
    min-width: 90%; 
}