body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
section {
  display: flex;
  flex-flow: row wrap;
}

#col1,
#col2,
#col3 {
  flex: 1 300px;
}

#input,
#output {
  width: 90%;
  height: 30%;
}

#decrypt {
  float: right;
}

#mappingTables {
  flex-flow: column wrap;
  align-items: center;
}

.mappingTable {
  display: flex ;
  flex-flow: row wrap;
  margin-top: 10px;
}

.letterBoxCol {
  min-width: 1.5em;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  text-align: center;
  font-family: monospace;
  font-size: 1.4em;
}

#trackable{
    margin-top: 2em;
    justify-content: space-around;
}