section {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2em;
}

#col1,
#col2,
#col3 {
  flex: 1 300px;
}

.centered {
  margin-top: 2em;
  justify-content: space-around;
}

/*encryption area*/
#input,
#output {
  width: 90%;
  height: 10em;
  border: 0.14em solid #4fa49a;
  font-size: 1.2em;
}

#decrypt, #encrypt, #cipher{
  margin-top: 0.5em;
  border: none;
  background-color: #4fa49a;
  color: white;
  font-size: 1em;
  padding: 0.3em;
  width: 90%;
}

#decrypt {
  float: right;
  margin-right: 10%;
}

#cipher{
  margin-bottom: 1em;
}

option:focus,
option:active,
option:hover,
option:focus-within,
option:target,
option:focus-visible{
  color: #4fa49a;
  background-color: white;
}

#description{
  width: 90%;
}

/*mapping table*/
#mappingTables {
  flex-flow: column wrap;
  align-items: center;
}

.mappingTable {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.3em;
}

.letterBoxCol {
  min-width: 1.8em;
  border-width: 0.07em;
  border-style: solid;
  border-color: #4fa49a;
  text-align: center;
  font-family: monospace;
  font-size: 1.4em;
}

.letterBoxCol>p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}




/*trackable link at the end*/
.trackableImage {
  padding-right: 0.5em;
}

.trackableText {
  padding-top: 0.3em;
}

a.trackableText:link,
a.trackableText:visited,
a.trackableText:hover,
a.trackableText:active {
  color: #4fa49a;
}

/*slider*/
#rotNumberSlider{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#rotNumberSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background:  #4fa49a;
  cursor: pointer;
}