body, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    text-decoration:none;
    margin: 0;
}


.main{
    max-width: 1020px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

section{
    padding-top: 1.8em;
    padding-bottom: 1.8em;;
}

h3 {
    margin-top: 0px;;
}

/* black bar for separation of sections */
.black_bar{
    margin: 0 auto;
    height: 2px;
    width: 150px;
    background-color: #555;
}

/* navigation elements */
.navitem{
    display: flex;
    flex-direction: column;
}

.navicon{
    height: 32px;
    width: 32px;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.img_autosize{
    width: 100%; 
    padding-top: 0.2em;
}

.text_center{
    text-align: center;
}

/* contact items */
.box_flex_centered{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;/* min gap */
}

.contact_icon{
    height: 32px;
    width: 32px;
    font-size: 32px;
}

/* other stuff */
.box_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;/* min gap */
}
