#openItems, #recentItems, #otherItems{
    display: flex;
    flex-flow: column wrap;
}

.groupHeadline{
    margin-top: 3em;
}

.itemBox{
    display: flex;
    flex-flow: row wrap;
}

.item{
    height: 10em;
    width: 10em;
    background-color: lightgreen;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.openStatus{
    background-color: lightcoral;
}

.itemText{
    pointer-events: none;
    font-size: 1.3em;
}

.additionalInfo{
    border: none;
    width: 8em;
    background-color: lightgreen;
    text-align: center;
    margin-top: 1em;
    pointer-events: none;
    font-size: 1em;
}

#additionalInfoInput{
    width: 100%;
    border: 0.14em solid #4fa49a;
    font-size: 1.2em;
}

#buttonCloseAdditionalInfoInput{
    background: none;
    border: none;
    font-size: 2em;
    color: #4fa49a;
    margin-left: auto;
    order: 2;
}

.titleSection{
    display: flex;
}

/* drop down styling: https://www.clickstorm.de/blog/dropdown-css3/ */